In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
arr1 = np.arange(9).reshape(3,3)

In [3]:
np.concatenate([arr1,arr1],axis=1)

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5],
       [6, 7, 8, 6, 7, 8]])

In [4]:
np.concatenate([arr1,arr1],axis=0)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8],
       [0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [5]:
ser1 = Series([0,1,2],index = ['T','U','V'])
ser2 = Series([3,4],index = ['X','Y'])

In [6]:
ser1

T    0
U    1
V    2
dtype: int64

In [7]:
ser2

X    3
Y    4
dtype: int64

In [8]:
pd.concat([ser1,ser2])

T    0
U    1
V    2
X    3
Y    4
dtype: int64

In [9]:
pd.concat([ser1,ser2],axis=1)

     0    1
T  0.0  NaN
U  1.0  NaN
V  2.0  NaN
X  NaN  3.0
Y  NaN  4.0

In [10]:
pd.concat([ser1,ser2],keys=['cat1','cat2'])

cat1  T    0
      U    1
      V    2
cat2  X    3
      Y    4
dtype: int64

In [11]:
dframe1 = DataFrame(np.random.randn(4,3),columns = ['X','Y','Z'])
dframe2 = DataFrame(np.random.randn(3,3),columns = ['Y','Q','X'])

In [12]:
pd.concat([dframe1,dframe2])

          Q         X         Y         Z
0       NaN -0.250275 -1.036877 -1.618673
1       NaN -1.156686 -0.131241 -1.502394
2       NaN  0.079373 -0.590614 -0.055658
3       NaN -0.409153 -1.153761  0.269486
0  0.656212  1.224886  0.070084       NaN
1 -1.306521  0.418162 -0.443236       NaN
2 -1.291118 -0.245659 -1.743586       NaN

In [13]:
pd.concat([dframe1,dframe2],axis=1)

          X         Y         Z         Y         Q         X
0 -0.250275 -1.036877 -1.618673  0.070084  0.656212  1.224886
1 -1.156686 -0.131241 -1.502394 -0.443236 -1.306521  0.418162
2  0.079373 -0.590614 -0.055658 -1.743586 -1.291118 -0.245659
3 -0.409153 -1.153761  0.269486       NaN       NaN       NaN

In [14]:
pd.concat([dframe1,dframe2],ignore_index=True)

          Q         X         Y         Z
0       NaN -0.250275 -1.036877 -1.618673
1       NaN -1.156686 -0.131241 -1.502394
2       NaN  0.079373 -0.590614 -0.055658
3       NaN -0.409153 -1.153761  0.269486
4  0.656212  1.224886  0.070084       NaN
5 -1.306521  0.418162 -0.443236       NaN
6 -1.291118 -0.245659 -1.743586       NaN