In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [5]:
json_obj="""{
"employees": [
{ "firstName":"Bill" , "lastName":"Gates" },
{ "firstName":"George" , "lastName":"Bush" },
{ "firstName":"Thomas" , "lastName":"Carter" }
]
}
"""

In [6]:
import json

In [7]:
data = json.loads(json_obj)

In [8]:
data

{'employees': [{'firstName': 'Bill', 'lastName': 'Gates'},
  {'firstName': 'George', 'lastName': 'Bush'},
  {'firstName': 'Thomas', 'lastName': 'Carter'}]}

In [10]:
json.dumps(data)

'{"employees": [{"firstName": "Bill", "lastName": "Gates"}, {"firstName": "George", "lastName": "Bush"}, {"firstName": "Thomas", "lastName": "Carter"}]}'

In [11]:
dframe = DataFrame(data['employees'])

In [12]:
dframe

  firstName lastName
0      Bill    Gates
1    George     Bush
2    Thomas   Carter