# Read Textfiles

In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [ ]:
dframe = pd.read_csv('text.csv',header=None)

In [ ]:
dframe = pd.read_csv('text.csv')

In [ ]:
dframe = pd.read_table('text.csv')

# Writing Textfiles

In [3]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [4]:
dframe = pd.read_clipboard()

In [5]:
dframe

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1.0,Dallas Cowboys,511,367,1,0.573,1960,860,NFC East
1,2.0,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3.0,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4.0,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5.0,New England Patriots[b],476,383,9,0.554,1960,868,AFC East
5,6.0,New York Giants,684,572,33,0.543,1925,"1,289",NFC East

In [6]:
dframe.to_csv('mytext_out.csv')

In [7]:
import sys

In [8]:
dframe.to_csv(sys.stdout)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1.0,Dallas Cowboys,511,367,1,0.573,1960,860,NFC East
1,2.0,Green Bay Packers,730,553,37,0.5670000000000001,1921,"1,320",NFC North
2,3.0,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4.0,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5.0,New England Patriots[b],476,383,9,0.5539999999999999,1960,868,AFC East
5,6.0,New York Giants,684,572,33,0.5429999999999999,1925,"1,289",NFC East

In [10]:
dframe.to_csv(sys.stdout,sep='_')

_Rank_Team_Won_Lost_Tied_Pct._First NFL Season_Total Games_Division
0_1.0_Dallas Cowboys_511_367_1_0.573_1960_860_NFC East
1_2.0_Green Bay Packers_730_553_37_0.5670000000000001_1921_1,320_NFC North
2_3.0_Chicago Bears_744_568_42_0.565_1920_1,354_NFC North
3_4.0_Miami Dolphins_439_341_4_0.563_1966_784_AFC East
4_5.0_New England Patriots[b]_476_383_9_0.5539999999999999_1960_868_AFC East
5_6.0_New York Giants_684_572_33_0.5429999999999999_1925_1,289_NFC East

In [12]:
dframe.to_csv(sys.stdout,columns=['Rank','Team'])

,Rank,Team
0,1.0,Dallas Cowboys
1,2.0,Green Bay Packers
2,3.0,Chicago Bears
3,4.0,Miami Dolphins
4,5.0,New England Patriots[b]
5,6.0,New York Giants